# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build directory
build/
dist/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.iml
*.idea/*
*.vscode/*

# Temporary files
*~
*.swp